body {
	font-family: 'Oswald', sans-serif;
	background: linear-gradient(to right, rgb(52,212,192),rgb(19,189,184),rgb(23,138,182),rgb(4,85,176),rgb(6,59,171));
	padding: 0px;
	margin: 0px;
	height: 100%;
	color:white;
}

canvas {
	vertical-align: top;
}

#cvs_div {
	background-color: black;
	display: none;
	min-height: 100%;
}

textarea {
	
	font-family: 'Rufina', serif;

	height: 30vw;
	/*auto;*/
	max-width: 80vw;
	color: #27071a;
	font-size: 1em;
	width: 100%;
	background: white;
	border-radius: 6px;
	line-height: 5em;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(78, 14, 53, 0.4);
	padding: 2vw;
	-webkit-transition: height 2s ease;
	-moz-transition: height 2s ease;
	-ms-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;
	display: block;
}

* {
	-webkit-font-smoothing: antialiased !important;
}

#walkThrough {
	font-weight: 400;
	height: auto;
	margin: 1vw;
	margin-top: 2vw;
	padding: 1vw;
	display: block;
}

#sentence1 {
	font-size: 1.5em;
	margin-top: 0px;
	padding-top: 30px;
	padding-top: 0px;
}

#sentence2 {
	font-size: 0.8em;
	padding: 0px;
}

#invisible {
	display: none;
}

.button {
	font-family: 'Oswald', sans-serif;
	background-color: rgb(52,212,192);
	color: rgb(6,59,171);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:0.5em;
	margin: 3vw 4vw;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	display: block;
}

.button:hover {
	background-color: black;
	color: white;
}

#cvs_div {
	display: none;
}